@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Claro (Padrão) */
  --color-bkg: #f0f2f5;
  --color-surface: #ffffff;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #1f2937;
  --color-subtle: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #10b981;
  --color-danger: #ef4444;
}

.dark {
  /* Tema Escuro */
  --color-bkg: #111827;
  --color-surface: #1f2937;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #f9fafb;
  --color-subtle: #9ca3af;
  --color-border: #374151;
  --color-success: #34d399;
  --color-danger: #f87171;
}
